body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.input-group {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#result {
    margin-top: 20px;
    display: none;
}
